.Register {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.r__form {
    border-top: 1px solid rgb(197, 195, 195);
    margin-bottom: 50px;
}
.r__h2 {
    text-align: center;
    padding: 20px 0; 
}
.r__title {
    padding: 10px;
    margin-top: 20px;
}
.label {
    margin-right: 30px;
    font-size: large;     
    font-family: "NotoSansCJKkrBold";   

}
.label1 {
    font-size: large; 
    font-family: "NotoSansCJKkrBold";    
}

.t__input{
    width: 40%;
    font-family: "NotoSansCJKkrRegular"; 
    border-color: #e2e2e2;
    border-radius: 4px;
    height: 30px;

}
.r__textarea {
    width: 40%;
    height: 250px;
    font-family: "NotoSansCJKkrRegular"; 
    border-color: #e2e2e2;
    border-radius: 4px;
}
.r__content {
   display: flex;
   justify-content: center;
   padding: 10px; 
   
}

.r__image {
    padding: 10px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(197, 195, 195);
    justify-content: center;

}

.input {
    border-color: #e2e2e2;
    border-radius: 4px;
    width: 35%;
    margin-right: 10px;
}

.r__btn {
    margin-left: 10px;
    background-color: #dcdcde;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
}
.r__submit {
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    padding: 10px 15px;
    background-color: #161516;
    color: white;
    margin: 0;
    font-family: "NotoSansCJKkrMedium"; 
}

.r__submit:hover {
    color: white ;
    font-family: "NotoSansCJKkrMedium"; 
    font-weight: 600;
}


/* 여기다가 추가하면 될듯? */


.previewImg img{
    width: 300px;
    height: 250px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
}

.deleteImgBtn {
    width: 86.25px;
    height: 42.4px;
    font-size: 18px;
    background-color: #a52a2a;
    border-radius: 8px;
    color: white;
    font-family: "NotoSansCJKkrRegular";   
    border: 0;
    margin: 20px 0 0 0;
}

.deleteImgBtn:hover {
    color: white;
    font-family: "NotoSansCJKkrRegular";   
    font-weight: 600;
}

.file {
    display : none;
}
.b__file {
    display: block;
    place-content: center;
    place-items: center;
    flex-direction: column;
}
.b__select{
    font-size: 18px;
    padding: 8px 10px 8px 10px;
    background-color: green;
    border-radius: 8px;
    color: white;
    font-family: "NotoSansCJKkrRegular";  

}

.b__select:hover {
    color: white;
    font-family: "NotoSansCJKkrRegular"; 
    font-weight: 600;
}


@media screen and (max-width: 768px) {
    .previewImg img{
        width: 290px;
        margin: 0 auto;
        margin-left: 15px;
        margin-right: 15px;
    }
    .label {
        margin: 0;
        margin-right: 15px;
        font-size: 15px;
    }

    .t__input {
        width: 300px;
    }

    .r__textarea {
        width: 300px;
    }
    .b__select {
        width: 300px;
    }

    .label1 {

        font-size: 15px;
        
    }

    .previewImg img {
        margin-top: 10px;
        margin-bottom: 30px;
        margin-left: 40px;
 }

 .deleteImgBtn{
     width: 85px;
     height: 40px;
 }
}