.findpassword {
    background-color: white; 
    margin: 0 auto;
    text-align: center;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "NotoSansCJKkrBold"; 
    
}

.findpassword-header {
    font-size: xxx-large;
    font-family: "NotoSansCJKkrBold";   
}

.findpassword-text {
    font-weight: 900;
    padding-right: 2em;
}

.findpassword-id {
    padding: 1em 0 0 0;
    margin-right: 15px;  
}

.findpassword-box-id {
    width: 450px;
    height: 40px;
    border-color: #e2e2e2;
    border-radius: 4px;
    font-family: "NotoSansCJKkrRegular";   
}

.findpassword-text-number {
    font-weight: 900;
    margin-left: 3em;
}

.findpassword-select-number {
    height: 40px;
    border-radius: 4px;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-color: #e2e2e2;
    
}

.findpassword-number {
    padding: 0.5em 0 0em 0px;
    font-family: "NotoSansCJKkrRegular"; 
    margin-right: 25px;
    margin-bottom: 25px;
}

.findpassword-box-number {
    height: 20px;
    width: 80px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 4px;
    border-color: #e2e2e2;

}


.findpassword-button {
    padding-top: 3em;
    padding-bottom: 4em;
}

.findpassword-button-box {
    font-size: 16px;
    border-radius: 8px;
    background-color: #161516;
    color: white;
    width: 300px;
    height: 40px;
    border: 0;
    outline: 0;
    font-family: "NotoSansCJKkrRegular";  
}
.register-reg-check {
    height: 15px;
    display: flex;
    justify-content: center;
}

.register-reg-check div {
    width: 330px;
    text-align: left;
}

.register-reg-check div .id-check-success {
    color: green;
}

.register-reg-check div .phone-check-success {
    color: green;
}

.register-reg-check div span{
    font-size: 11px;
    color: red;
}
.hidden {
    display: none
}
.register-certification1 {
    font-size: 13px;
    border-radius: 8px;
    background-color: #161516;
    color: white;
    width: 60px;
    height: 30px;
    border: 0;
    outline: 0;
    margin-left: 10px;
    font-family: "NotoSansCJKkrRegular";  
}

.register-certification1:hover {
    font-weight: 600;
    cursor: pointer;
}

.register-input-certification1 {
    width: 345px;
    height: 40px;
    border-color: #e2e2e2;
    border-radius: 4px;
    font-family: "NotoSansCJKkrRegular";  
}
.register-box-certification1 {
    padding-left: 90px;
    margin: 0 auto;
}
.register-certification-btn1 {
    font-size: 14px;
    border-radius: 8px;
    background-color: #161516;
    color: white;
    width: 100px;
    height: 45px;
    border: 0;
    outline: 0;
    margin-left: 10px;
    font-family: "NotoSansCJKkrRegular";  
}

.register-certification-btn1:hover {
    cursor: pointer;
    font-weight: 600;
}


@media screen and (max-width: 768px) {
    .findpassword-id {
        width: 300px;
        padding: 0;
        margin: 0;

    }

    .findpassword-box-id {
        width: 290px;
        margin-bottom: 10px;

    }

    .findpassword-pw {
        width: 300px;
        padding: 0;
        margin: 0;

        margin-top: 10px;
    
    }

    .findpassword-box-pw {
        width: 290px;
    }

    .findpassword-pw-check {
        width: 300px;
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }

    .findpassword-box-pw-check {
        width: 290px;
    }

    .findpassword-name {
        width: 300px;
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }

    .findpassword-box-name {
        width: 290px;
    }

    .findpassword-number {
        width: 300px;
        padding: 0;
        margin: 0;
      
    }

    .findpassword-text-number {
        width: 200px;
        display: flex;
        margin: 0;
        margin-top: 10px;
        
    }

    .findpassword-select-number {
        padding: 0;
        margin: 0;
        width: 300px;


    }


    .findpassword-box-number {
        width: 55px;
        margin-top: 15px;
        margin-bottom: 15px;

        
    }


    .findpassword-grade {
        margin-top: 20px;
    padding-left: 0;

    }

    .findpassword-text {
        display: flex;
        padding-top: 10px;
    }
    
    .findpassword-box-grade {
        width: 300px;
    }

    .findpassword {
        width: 300px;
        text-align: center;      
    }
    .findpassword-button-box {
        margin: 0;
    }
    .register-certification1 {
        text-align: center;
        width: 55px;
        height: 30px;
        font-size: 14px;
    }
    .register-box-certification1 {
        padding: 0;
        margin: 0;
        width: 300px;
        text-align: center;
    }
    .register-input-certification1 {
        width: 210px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .register-certification-btn1 {
        margin-bottom: 15px;
        width: 70px;
    }

}